html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 50px;
}

.navbar {
	border-bottom: 1px solid #dcdcdc;
	font-size: 1.5em;
    font-weight: bold;
}

.main {
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 0.8em;
	line-height: 24px;
}

footer {
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	padding: 10px;
	border-top: 1px solid #dcdcdc;
	background-color: #fff;
}

.logo {
	padding: 5px;
}